<div class="ui basic modal">
  <i class="close icon"></i>
  <div class="header">
    Choose Sign Up
  </div>
  <div class="image content">
    <div class="image">
      <i class="users icon"></i>
    </div><br>
    <div class="description">
      <h3>Are you signing up as a service provider or seeker?</h3>
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui basic inverted button">
        <i class="user icon"></i>
        <%= link_to "Service Seeker", new_user_path, :class => "signup_choice", :method => :get %>
      </div>
      <div class="ui basic inverted button">
        <i class="doctor icon"></i>
        <%= link_to "Service Provider", new_professional_path, :class => "signup_choice", :method => :get %>
      </div>
    </div>
  </div>
</div>

<div id= "fixed" class="ui large top fixed hidden menu" style="display: none;">
  <div class="ui container">
    <%= link_to "Home", root_path, :class => "active item", :method => :get %>
    <%= link_to "About", root_path, :class => "item", :method => :get %>
    <%= link_to "Company", root_path, :class => "item", :method => :get %>
    <%= link_to "Careers", root_path, :class => "item", :method => :get %>
    <div class="right menu">
      <div class="item">
        <%= link_to "Log In", login_path, :id => "login", :class => "ui primary button", :method => :get %>
      </div>
      <div class="item">
        <a class="ui primary button signup">Sign Up</a>
      </div>
    </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <%= link_to "Home", root_path, :class => "active item", :method => :get %>
  <%= link_to "About", root_path, :class => "item", :method => :get %>
  <%= link_to "Company", root_path, :class => "item", :method => :get %>
  <%= link_to "Careers", root_path, :class => "item", :method => :get %>
</div>

<!-- Page Contents -->
<div class="pusher">
  <div class="row"><%= render "partials/flash" %></div>

  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div id = "colorNav" class="ui large secondary inverted pointing menu">
        <a id="toc" class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <%= link_to "Home", root_path, :class => "active item", :method => :get %>
        <%= link_to "About", root_path, :class => "item", :method => :get %>
        <%= link_to "Company", root_path, :class => "item", :method => :get %>
        <%= link_to "Careers", root_path, :class => "item", :method => :get %>
        <div class="right item">
          <%= button_to "Log In", login_path, :id => "login", :class => "ui inverted button", :method => :get %>
          <a class="ui inverted teal button signup">Sign Up</a>
        </div>
      </div>
    </div>

    <div class="ui text container">
      <div id="running"><%= image_tag("running.png", :alt => "running_man") %></div>
      <h1 id= "header" class="ui inverted header">
        Task Runner
      </h1>
      <h2>Connect to professional service providers in your area</h2>
      <div id="get_started" class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
    </div>
  </div>


  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Have a Skill You Can Leverage?</h3>
          <p>Task Runner supports a large range of services, from home reparation and cleaning, to beauty services, to even remote-based work like web development</p>
          <h3 class="ui header">In Need of a Service?</h3>
          <p>Business and individuals can sign up to access all of our task runners and participate in our gig-economy</p>
        </div>
        <div class="six wide right floated column">
          <%= image_tag("simplify") %>
          <h3 id="tag">Tap into Our Gig-economy, Simplify Your Life</h3>
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Check Them Out</a>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>"Damn these people know what they're doing"</h3>
          <p>Everyone</p>
        </div>
        <div class="column">
          <h3>"I shouldn't have gone with their competitor."</h3>
          <p>
           <%= image_tag("reviewer.png", :alt => "reviewer") %> <b>Nan</b> Chief Fun Officer Acme Toys
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <h3 class="ui header">Breaking The Barrier, Attracting Qualified Workers</h3>
      <p>Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.</p>
      <a class="ui large button">Read More</a>
      <h4 class="ui horizontal header divider">
        <a href="#">Case Studies</a>
      </h4>
      <h3 class="ui header">Did We Tell You About Our Latest Venture?</h3>
      <p>Service providers and seekers can now be matched based on the task required, to quicken the search process</p>
      <a class="ui large button">I'm Interested In Participating In The Beta Version</a>
    </div>
  </div>

  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us</a>
            <a href="#" class="item">Meet the Team</a>
          </div>
        </div>
        <div class="ten wide column">
          <h4 class="ui inverted header">All Rights Reserved</h4>
          <p>Nick Ang</p>
          <p>Bright Chew</p>
          <p>Mikella Seth</p>
        </div>
      </div>
    </div>
  </div>

</div>
