<% if @current_user %>

<div id="push_down_pro" class="pusher">
  <div class="ui main container stackable grid centered">
    <div class="sixteen wide column"><%= render "partials/flash" %></div>

    <div class="one wide column"></div>

    <div class="five wide column">
        <div class="ui teal card">
          <div class="image">
            <%= image_tag("avatar.png") %>
          </div>
          <div class="content">
            <div class="header"><%= @professional.name%></div>
            <div class="meta">
              <a>Current Category: <%= @professional.category.name %></a>
            </div>
          </div>
          <div class="extra content">
            <p>
              <strong>Current Services: </strong>
              <ul class="ui middle aligned divided list" id="add_service">
                <% if @services.present? %>
                  <% @services.each do |service| %>
                    <div class="item">
                      <div class="content">
                        <%= service.name %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </ul>
            </p>
          </div>
        </div>

    </div>

    <div class="nine wide column right">
      <h3>Click on a date to request <%= @professional.name %>'s services</h3>
      <!-- SIMPLE_CALENDAR -->
      <div id="requests">
        <%= month_calendar events: @requests do |date, requests| %>
          <% if (0..2).include?(requests.length) %>
            <%= link_to date.to_formatted_s(:short), new_request_path(:date => date), remote: true %>
          <% elsif (2..4).include?(requests.length) %>
            <%= link_to date.to_formatted_s(:short), new_request_path(:date => date), remote: true, class: "quite-busy" %>
          <% else %>
            <%= link_to date.to_formatted_s(:short), new_request_path(:date => date), remote: true, class: "very-busy" %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="one wide column"></div>

    <div class="one wide column"></div>
    <div class="fourteen wide column left">
      <div id="request-form" style="display:none;"></div>
    </div>
    <div class="one wide column"></div>

  <div class="ui horizontal divider"></div>
</div>

<script>
  $(document).ready(function () {
    $('.quite-busy').parent().css( "background-color", "#ECC087" );

    $('.very-busy').parent().css( "background-color", "#EC9598" );
  })
</script>


<% elsif @current_professional %>

<div id="push_down" class="pusher">
  <div class="ui main text container">
    <div class="two wide column"></div>
    <div class="ui right centered grid" id="push_down_content">
      <div class="ui items">
        <div class="item">
          <a class="ui tiny image">
            <%= image_tag("reviewer.png") %>
          </a>
          <div class="content">
            <a class="header">Hi, <%=@professional.name%>!</a>
            <div class="description">
              Your last login was on xxx
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui horizontal divider">Welcome back!</div>
  </div>
</div>

Summary of Pro's profile
- category and services


<% end %>
