<% if @current_user %>

<div id="push_down" class="pusher">
  <div class="ui main text container">
    <div class="two wide column"></div>
    <div class="content">
      <h3>
        <%= @professional.name %> offers the following services:
      </h3>
      <ol>
      <% @services.each do |service| %>
        <li>
            <%= service.name %>
        </li>
      <% end %>
      </ol>

      <h3>Click on a date to request <%= @professional.name %>'s services</h3>

      <%= month_calendar events: @requests do |date, requests| %>
        <%= date.to_formatted_s(:short) %>

        <% requests.each do |request| %>
          <div>
              <%= request.appointment_details %>
          </div>
        <% end %>
      <% end %>

    </div>
    <div class="ui horizontal divider"></div>
  </div>
</div>
<% elsif @current_professional %>

<div id="push_down" class="pusher">
  <div class="ui main text container">
    <div class="two wide column"></div>
    <div class="ui right centered grid" id="push_down_content">
      <div class="ui items">
        <div class="item">
          <a class="ui tiny image">
            <%= image_tag("reviewer.png") %>
          </a>
          <div class="content">
            <a class="header">Hi, <%=@professional.name%>!</a>
            <div class="description">
              Your last login was on xxx
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui horizontal divider">Welcome back!</div>
  </div>
</div>

Summary of Pro's profile
- category and services


<% end %>
