<div id="push_down" class="pusher">
  <div class="ui main text container">
    <div class="two wide column"></div>
    <div class="ui right centered grid" id="push_down_content">
      <div class="ui items">
        <div class="item">
          <a class="ui tiny image">
            <%= image_tag("reviewer.png") %>
          </a>
          <div class="content">
            <a class="header">Hi, <%=@user.name%>!</a>
            <div class="description">
              Your last login was on xxx
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui horizontal divider">Welcome back!</div>
    <h2 id="push_down_categories">Browse our categories</h2>
    <div class="ui right centered grid">
      <%= image_tag("tree.png",:id=>"tree") %>
    </div>
    <div class="ui list center_list">
      <div class="item">
        <i class="map marker icon"></i>
        <div class="content">
          <a class="header">Repairs</a>
          <div class="description"><span class="numbers">5 task runners</span> currently providing serivces for home/location reparation</div>
        </div>
      </div>
      <div class="item">
        <i class="map marker icon"></i>
        <div class="content">
          <a class="header">Cleaning</a>
          <div class="description"><span class="numbers">5 task runners</span> currently available to help organize and unclutter your life!</div>
        </div>
      </div>
      <div class="item">
        <i class="map marker icon"></i>
        <div class="content">
          <a class="header">Beauty</a>
          <div class="description"><span class="numbers">5 task runners</span> open to pamper and beautify :)</div>
        </div>
      </div>
      <div class="item">
        <i class="map marker icon"></i>
        <div class="content">
          <a class="header">Remote-based Services</a>
          <div class="description"><span class="numbers">5 task runners</span> for services that can be performed remotely</div>
        </div>
      </div>
      <div class="item">
        <i class="map marker icon"></i>
        <div class="content">
          <a class="header">Errands</a>
          <div class="description"><span class="numbers">5 task runners</span> are ready to help out with company/individual errands</div>
        </div>
      </div>
      <div class="item">
        <i class="map marker icon"></i>
        <div class="content">
          <a class="header">Miscellaneous</a>
          <div class="description"><span class="numbers">5 task runners</span> open for miscellaneous services</div>
        </div>
      </div>
    </div>
    <div class="ui horizontal divider">or</div>

    <!-- SEARCH -->
    <h2>Do a quick search</h2>
    <div class="ui search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Search...">
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>
    <table class="ui sortable teal table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Area(s)</th>
          <th>Usual Availability</th>
          <th>Services</th>
          <th>See calendar</th>
        </tr>
      </thead>
      <tbody>
        <% @professionals.each do |professional| %>
        <tr>
          <td><%= professional.name %></td>
          <td>East,West</td>
          <td>Mon-Fri, 9am-5pm</td>
          <td>
          <% professional.services.each do |service| %>
            <span><%= service.name %>, </span>
          <% end %>
          </td>
          <td>
            <%= link_to professional_path(professional), :method => :get do%>
              <i class="calendar icon"></i>
            <% end %>
          </td>
        </tr>
        <% end %>

      </tbody>
    </table>
    <div class="two wide column"></div>
  </div>

</div>
