<% if @current_user %>
  <i class="close icon"></i>
  <div class="image content">
    <div class="ui medium image">
      <%= image_tag("large_avatar.png", class: 'image') %>
    </div>
    <div class="description">
      <div class="ui header">Edit appointment request</div>
      <p></p>
      Confirm appointment details!
      <%= link_to "Make Appt", request_path(@request, confirmed: true), {:controller => "requests",method: :patch, :id => @request.id} %>
    </div>
  </div>
  <div class="ui right aligned center aligned grid" style= "overflow-y:auto;white-space:nowrap;height:250px;">
    <%= form_for :request, url: request_path(@request), :html => {:class => "ui form"}, remote: true, method: :patch do |f| %>
      <div class="field">
        <label>Change appointment details</label>
        <%= f.text_area  :appointment_details%>
      </div>
      <div class="field">
        <label>Appointment to start at:</label>
        <%= f.datetime_field(:start_time) %>
      </div>
      <%= f.submit "Submit changes", :class => "ui fluid large teal submit button" %>
    <% end %>
  </div>
<% elsif @current_professional %>
<i class="close icon"></i>
<div class="image content">
  <div class="ui medium image">
    <%= image_tag("large_avatar.png", class: 'image') %>
  </div>
  <div class="description">
    <div class="ui header">Edit appointment request</div>
    <p></p>
    Confirm appointment details!
    <%= link_to "Make Appt", request_path(@request, confirmed: true), {:controller => "requests",method: :patch, :id => @request.id} %>
  </div>
</div>
  <div class="ui right aligned center aligned grid" style= "overflow-y:auto;white-space:nowrap;height:250px;">
    <%= form_for :request, url: request_path(@request), :html => {:class => "ui form"}, remote: true, method: :patch do |f| %>
      <div class="field">
        <label>Change appointment details</label>
        <%= f.text_area  :appointment_details%>
      </div>
      <div class="field">
        <label>Appointment to start at:</label>
        <%= f.datetime_field(:start_time) %>
      </div>
      <div class="field">
        <label>Appointment to end at:</label>
        <%= f.datetime_field(:end_time) %>
      </div>
      <%= f.submit "Submit changes", :class => "ui fluid large teal submit button" %>
    <% end %>
  </div>
<% end %>
