<% if @current_professional %>
  <div id="push_down" class="pusher">
    <div class="ui main text container">
      <div class="ui horizontal divider">Manage Requests</div>
      <div class="one wide column"></div>
      <div class="ui label" id="pending">
        Request Pending
      </div>
      <div class="ui label" id="confirmed">
        Confirmed Appointment
      </div>
      <table class="ui selectable celled table" id="pro_request_table">
        <thead>
          <tr>
            <th>Appointment with</th>
            <th>Start time</th>
            <th>Potential end time</th>
            <th>Details</th>
            <th>Contact (open once appointment is confirmed)</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @requests.each do |request| %>
            <% if request.status == "Pending" %>
              <tr class="warning">
            <% elsif request.status == "Confirmed" %>
              <tr class="positive">
            <% end %>
              <td>
                <h4 class="ui image header">
                  <%= image_tag("mini_avatar.png", class: "ui mini rounded image") %>
                  <div class="content">
                    <%= User.find(request.user_id).name %>
                  </div>
                </h4>
              </td>
              <td>
                <%= request.start_time %>
              </td>
              <td>
                <%= request.end_time %>
              </td>
              <td>
                <%= request.appointment_details %>
              </td>
              <td>
              <% if request.status == "Pending" %>
                  Appointment not confirmed
              <% elsif request.status == "Confirmed" %>
                  <%= User.find(request.user_id).mobile_number %>
              <% end %>
              </td>
              <td>
              <% if request.status == "Pending" %>
                <%= link_to "Edit", edit_request_path(request), :class => "btn", :remote => true, "data-toggle" => "modal", "data-target" => "user_req_modal" %>
              <% elsif request.status == "Confirmed" %>
                No longer editable
              <% end %>
              </td>
              <td>
                <%= link_to "Cancel appointment", request, method: :delete, data: { confirm: "Are you sure?" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
        </table>
      <div class="ui small modal" id="user_req_modal" style="display:none;"></div>
    </div>
  </div>

<% elsif @current_user %>

  <div id="push_down" class="pusher">
    <div class="ui main text container">
      <div class="ui horizontal divider">Manage Requests</div>
      <div class="one wide column"></div>
      <div class="ui label" id="pending">
        Request Pending
      </div>
      <div class="ui label" id="confirmed">
        Confirmed Appointment
      </div>
      <table class="ui selectable celled table" id="pro_request_table">
        <thead>
          <tr>
            <th>Appointment with</th>
            <th>Start time</th>
            <th>Potential end time</th>
            <th>Details</th>
            <th>Contact (open once appointment is confirmed)</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @requests.each do |request| %>
            <% if request.status == "Pending" %>
              <tr class="warning">
            <% elsif request.status == "Confirmed" %>
              <tr class="positive">
            <% end %>
              <td>
                <h4 class="ui image header">
                  <%= image_tag("mini_avatar.png", class: "ui mini rounded image") %>
                  <div class="content">
                    <%= Professional.find(request.professional_id).name %>
                  </div>
                </h4>
              </td>
              <td>
                <%= request.start_time %>
              </td>
              <td>
                <%= request.end_time %>
              </td>
              <td>
                <%= request.appointment_details %>
              </td>
              <td>
                <% if request.status == "Pending" %>
                    Appointment not confirmed
                <% elsif request.status == "Confirmed" %>
                    <%= Professional.find(request.professional_id).mobile_number %>
                <% end %>
              </td>
              <td>
                <% if request.status == "Pending" %>
                  <%= link_to "Edit", edit_request_path(request), :class => "btn", :remote => true, "data-toggle" => "modal", "data-target" => "user_req_modal" %>
                <% elsif request.status == "Confirmed" %>
                  No longer editable
                <% end %>
              </td>
              <td>
                <%= link_to "Cancel appointment", request, method: :delete, data: { confirm: "Are you sure?" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
        </table>
      <div class="ui small modal" id="user_req_modal" style="display:none;"></div>
    </div>
  </div>

<% end %>
