<% if @current_professional %>
  <div id="push_down" class="pusher">
    <div class="ui main text container">
      <div class="ui horizontal divider">Manage Requests</div>
      <div class="ui small modal" id="user_req_modal" style="display:none;"></div>
    </div>
    <div class="ui container">
      <div class="ui label" id="pending">
        Request Pending
      </div>
      <div class="ui label" id="confirmed">
        Confirmed Appointment
      </div>
      <table class="ui selectable table" id="pro_request_table">
        <thead>
          <tr>
            <th>Appointment with</th>
            <th>Start time</th>
            <th>Potential end time</th>
            <th>Details</th>
            <th>Contact</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @requests.each do |request| %>
            <% if request.status == "Pending" %>
              <tr class="warning">
            <% elsif request.status == "Confirmed" %>
              <tr class="positive">
            <% end %>
              <td>
                <h4 class="ui image header">
                  <%= image_tag("mini_avatar.png", class: "ui mini rounded image") %>
                  <div class="content">
                    <%= User.find(request.user_id).name %>
                  </div>
                </h4>
              </td>
              <td>
                <%= request.start_time.strftime('%C %b, %Y : %I:%M %P') %>
              </td>
              <td>
                <%= request.end_time.strftime('%C %b, %Y : %I:%M %P') %>
              </td>
              <td>
                <%= request.appointment_details %>
              </td>
              <td>
              <% if request.status == "Pending" %>
                  Appointment not confirmed
              <% elsif request.status == "Confirmed" %>
                  <%= User.find(request.user_id).mobile_number %>
              <% end %>
              </td>
              <td><strong>Last Updated by :</strong>
                <% if request.last_updated_by == User.find(request.user_id).name %>
                  <%= User.find(request.user_id).name %>
                <% elsif request.last_updated_by == Professional.find(request.professional_id).name %>
                  <%= Professional.find(request.professional_id).name %>
                <% end %>
              </td>
              <td>
                <% if request.status == "Pending" %>
                  <%= link_to edit_request_path(request), :class => "btn", :remote => true, "data-toggle" => "modal", "data-target" => "user_req_modal" do %>
                    <i class="edit icon"></i>
                  <% end %>
                <% elsif request.status == "Confirmed" %>
                  <i class="checked calendar icon"></i>
                  No longer editable
                <% end %>
              </td>
              <td>
                <%= link_to request, method: :delete, :class => "cancel_appt", data: { confirm: "Are you sure?" } do %>
                  <i class="delete calendar icon"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

<% elsif @current_user %>

  <div id="push_down" class="pusher">
    <div class="ui main text container">
      <div class="ui horizontal divider">Manage Requests</div>
      <div class="ui small modal" id="user_req_modal" style="display:none;"></div>
    </div>
    <div class="ui container">
      <div class="ui label" id="pending">
        Request Pending
      </div>
      <div class="ui label" id="confirmed">
        Confirmed Appointment
      </div>
      <table class="ui selectable table" id="pro_request_table">
        <thead>
          <tr>
            <th>Appointment with</th>
            <th>Start time</th>
            <th>Potential end time</th>
            <th>Details</th>
            <th>Contact</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @requests.each do |request| %>
            <% if request.status == "Pending" %>
              <tr class="warning">
            <% elsif request.status == "Confirmed" %>
              <tr class="positive">
            <% end %>
              <td>
                <h4 class="ui image header">
                  <%= image_tag("mini_avatar.png", class: "ui mini rounded image") %>
                  <div class="content">
                    <%= Professional.find(request.professional_id).name %>
                  </div>
                </h4>
              </td>
              <td>
                <p><strong>Start</strong></p>
                <%= request.start_time.strftime('%C %b, %Y : %I:%M %P') %>
              </td>
              <td>
                <p><strong>End</strong></p>
                <%= request.end_time.strftime('%C %b, %Y : %I:%M %P') %>
              </td>
              <td>
                <%= request.appointment_details %>
              </td>
              <td>
                <% if request.status == "Pending" %>
                    Appointment not confirmed
                <% elsif request.status == "Confirmed" %>
                    <%= Professional.find(request.professional_id).mobile_number %>
                <% end %>
              </td>
              <td><strong>Last Updated by :</strong>
                <% if request.last_updated_by == User.find(request.user_id).name %>
                  <%= User.find(request.user_id).name %>
                <% elsif request.last_updated_by == Professional.find(request.professional_id).name %>
                  <%= Professional.find(request.professional_id).name %>
                <% end %>
              </td>
              <td>
                <% if request.status == "Pending" %>
                  <%= link_to edit_request_path(request), :class => "btn", :remote => true, "data-toggle" => "modal", "data-target" => "user_req_modal" do %>
                    <i class="edit icon"></i>
                  <% end %>
                <% elsif request.status == "Confirmed" %>
                  <i class="checked calendar icon"></i>
                  No longer editable
                <% end %>
              </td>
              <td>
                <%= link_to request, method: :delete, :class => "cancel_appt", data: { confirm: "Are you sure?" } do %>
                  <i class="delete calendar icon"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

<% end %>
