<div id="push_down" class="pusher">

  <div class="ui main text container">
    <div class="ui large header">Browsing category:
      <span class="ui"><%= @category.name %></span>
    </div>

    <div class="ui hidden divider"></div>
    <div class="two wide column"></div>

    <table class="ui sortable teal table" id="table_search">
      <thead>
        <tr>
          <th class="center aligned">Name</th>
          <th class="center aligned">Area(s)</th>
          <th class="center aligned">Usual Availability</th>
          <th class="center aligned">Services</th>
          <th class="center aligned">Book</th>
        </tr>
      </thead>
      <tbody>
        <% @professionals.each do |professional| %>
        <tr>
          <td><%= professional.name %></td>
          <td>
            <% professional.areas.each do |area| %>
              <span><%= area.name %>, </span>
            <% end %>
          </td>
          <td>Mon-Fri, 9am-5pm</td>
          <td>
          <% professional.services.each do |service| %>
            <span><%= service.name %>, </span>
          <% end %>
          </td>
          <td class="center aligned selectable">
            <%= link_to professional_path(professional), :method => :get do%>
              <i class="calendar icon teal"></i>
            <% end %>
          </td>
        </tr>
        <% end %>

      </tbody>
    </table>

  <div class="ui horizontal divider"></div>

  </div>
</div>
